{% extends "base.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <link rel="stylesheet"  href="{% static 'css/perfil.css' %}">
    <h1>Perfil</h1>
    <div>
        <p>Nome:{{ dados.nome }}
        <p>Gênero: {{ dados.genero }}</p>
        <p>CPF: {{ dados.cpf }}</p>
        <p>Email: {{ dados.email }}</p>
        <p>Telefone: {{ dados.telefone }}</p>
        <p>Data de nascimento: {{ dados.data_nascimento }}</p>
        <p>Nivel: {{ dados.nivel }}</p>
    </div>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Sair</button>
    </form>
    <form method="post" action="{% url 'edicao' dados.id %}">
        {% csrf_token %}
        <button type="submit">Alterar</button>
    </form>
{% endblock %}