.container-fluid {
    padding: 0;
}
/*Navbar*/
.navbar {
    border-bottom: 1px solid orange;
    margin-bottom: 10px;
}
.navbar-nav {
    margin: auto;   
}
.navbar-brand {
    font-weight: bold;
}
.navbar-light .navbar-nav a.navbar-link {
    color: aquamarine;
}
/*rodapé*/
footer {
    background-color: darkgrey;
    border-top: 2px solid darkgray;
    height: 80px;
}
footer p {
    color: chartreuse;
    text-align: center;
    top: 50%;
    position: relative;
}
.logo {
    color: red;
}
body {
    background-color: blue !important;
}